* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 50%;
}

header h2 {
  font-size: 1.4rem;
}

.para {
  margin-top: 12px;
  font-size: 18px;
}

.para .content-container-2 {
  display: none;
}

.btn {
  background-color: black;
  color: #fff;
  padding: 10px 45px;
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

/* JavaScript */
.content-container-2.toggle {
  display: block;
}.....
...
.....main 
/////
..../////
main
.....
......
///////
main
///
.....
''<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/all.min.css">
  <title>يوم التأسيس</title>
  <link rel="icon" href="imgs/icon.png">
</head>
////////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
